<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ib.database">


    <!-- To auto-complete the email text field in the LoginActivity1 form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShowBuyListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".DashboardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".unused.test" />
        <activity android:name=".dbtest.AddTodoActivity" />
        <activity android:name=".dbtest.ModifyTodoActivity" />
        <activity android:name=".dbtest.TodoListActivity" />
        <activity
            android:name=".unused.PostPage"
            android:label="@string/app_name"></activity>
        <activity android:name=".unused.ForgotPassword"></activity>
        <activity android:name=".SellPage"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".unused.MajorList"></activity>
        <activity android:name=".AddNewItem"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".HotDeals"></activity>
        <activity android:name=".ProfilePage"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Favorite"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".showStockDetail"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".UpdateItemDetails"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".EventRegistation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".UpdateEventDetails"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".History"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".HotDeals1"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".NewDeals1"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".PieActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".mppiechart.PieChartActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MasterStock"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ShowStock"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".ShowSellList"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>
